<div class="header">
  <div class="logo">
    {{#link-to "application"}}Autism{{/link-to}}
  </div>
  <div class="nav">
    <ul>
      <li>{{#link-to "resources"}}Resources{{/link-to}}</li>
    </ul>
  </div>
</div>
