<div><p>Learning your child has autism can be extremely demoralizing. The present day sentiment is that it's not really a problem. This leads many parents to imagine themselves immune to the problem--that if you do everything right, you're child will be come into this world free of any difficulties and will strive will little help from you or anyone else. Some of that may be a stretch but it was my reality.</p>

<p>This page is a little bit hommage to the internet of yesterday year and a little bit outreach for those who find themselves in a similar situation. I hope this evolves into something worth while, something great but only time will tell.</p>

<p>Before you set off clicking away remember that not all is lost and there is hope. Depending on your situation, it may not be as dire as you imagine. Autism is a spectrum and that variability should be welcomed. It means you'll need to study your child. What I post here should help you with that. Most children don't need to be studied: their essence hangs on the outside. Children with autism require a bit of digging. Please dig.</p></div> 
{{outlet}}
